<!DOCTYPE html> <!-- VALIDAT -->
<html lang="ro">
    <head>
		<meta charset="UTF-8"/>
		<title>Home</title> 
		<meta name="description" content="Pagina principala a site-ului">
        <meta name="author" content="Mihai Hernest">
        <meta name="keywords" content="apicultura,apinet,descriere,eu,prezentare,contact,albina">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stilsite.css"/>	
    </head>
	<body>
		<figure>
            <img id="albina" src="/images/image.jpg" alt="albina" class="center" title="albina"/> 
            <figcaption id="api" class="center">APINET</figcaption>
        </figure>
		<%- include("../fragmente/header")  %>
		<main>
			<img src="/images/404.png" alt="eroare" width="700px" height="500px" /><br>
			<a class="home" href="/" >HOME</a>
		</main>
		
		<%- include("../fragmente/footer")  %>
	</body>
</html>