<!DOCTYPE html> <!-- VALIDAT -->
<html lang="ro">
    <head>
		<meta charset="UTF-8"/>
		<title>Stoc</title> 
		<meta name="description" content="Produsele site-ului APINET">
        <meta name="author" content="Mihai Hernest">
        <meta name="keywords" content="produse,stoc,stup,miere,pret,nou">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="../css/stilproduse.css"/>
		<script src="js/script_prod.js"></script>
	</head>
	<body>
		<figure>
            <img id="albina" src="../images/image.jpg" alt="Albina" class="center" title="albina"/> 
            <figcaption id="api" class="center">APINET</figcaption>
        </figure>
		<%- include("../fragmente/header")  %>
		<main>
		
		<div class="gallery">
			<figure>
				<img src="../images/prod1.jpg" alt="afumator inox">
				<figcaption>Afumator inox - 75.00 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod2.jpg" alt="centrifuga apicola reversibila">
				<figcaption>Centrifuga apicola reversibila - 5300.00 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod3.jpg" alt="apifonda">
				<figcaption>Apifonda 15 kg - 70.00 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod4.jpg" alt="hrana albine">
				<figcaption>Hrana albine BeeFonda 1 kg - 5.70 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod5.jpg" alt="stup vertical">
				<figcaption>Stup vertical 12 rame - 250.00 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod6.jpg" alt="combinezon apicol">
				<figcaption>Combinezon apicol - 125.00 RON</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<figure>
				<img src="../images/prod7.jpg" alt="miere salcam">
				<figcaption>Miere de salcam BIO 1 kg - 30.00 RON</figcaption>
			</figure>
		</div>
		</br>
		</main>
		<p id="timp_p"></p>
	</body>
</html>